@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white font-bold;
  background-image:
    linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)),
    url("/minecraft-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.glass {
  @apply bg-black/60 backdrop-blur border border-pink-500/40;
}

.minecraft-button {
  @apply bg-pink-500 hover:bg-pink-600 text-white font-extrabold
         border-2 border-pink-700 px-4 py-2 rounded-lg;
}
